.aInfo-bg{
	background-color: #545454;
	color: white;
	border: 2px solid #757474;
	/**/
	-webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.aInfo-bg li{
	list-style:none;
	padding-left: 10px;
	border-bottom: 2px dotted #6d5757;
}

.aInfo-bg li span{
	float: right;	
}
.aInfo-bg .top{
	inline-size: inherit;
  height: 30px;
  padding-left: 43%;
}
.top-title{
	color: cornsilk;
	font-size:18px;
	font-weight: bold;
	line-height: 30px;
  float: left;
}
.top-rebtn-box{
	float: right;
	margin: 3px;
}
.top-rebtn{
	cursor:pointer;
	display: inline-block;
	height:20px;
	width: 20px;
	font-size: 16px;
	text-align: center;
  vertical-align: middle;
  border: 1px solid #d378f9;
	border-radius: 50%;
	background-color: #d378f9;
  box-shadow:2px 2px 3px #000;
}
.aInfo-bg lable{
	cursor:pointer;
	color: burlywood;
	font-size:14px;
	font-weight: bold;
}
.aInfo-bg lable span{
	color: grey;
	font-size:9px;
	font-weight: 100;
}
.aInfo-bg li{
	color: #ec8b68;
	margin: 0 2px 0 5px;
}
.mmm{
	cursor:default;
}